<app-default-login-layout 
	[disablePrimaryBtn]="!signupForm.valid"
	(submit)="submit()"
	(navigate)="navigate()"
	title="Sign in and start today!"
	primaryBtnText="Signup Now"
	secondaryBtnText="Login Now">
	<form [formGroup]="signupForm">
		<app-primary-input formControlName="name"
			type="text"
			inputName="name"
			label="Your name"
			placeholder="John Doe">
			<img src="/assets/svg/email-icon.svg">
		</app-primary-input>
		<app-primary-input formControlName="email"
			type="email"
			inputName="email"
			label="Email"
			placeholder="johndoe123@email.com">
			<img src="/assets/svg/email-icon.svg">
		</app-primary-input>
		<app-primary-input formControlName="password"
			type="password"
			inputName="password"
			label="Password"
			placeholder="Enter your password">
			<img src="/assets/svg/password-icon.svg" >
		</app-primary-input>
		<app-primary-input formControlName="passwordConfirm"
			type="password"
			inputName="passwordConfirm"
			label="Confirm your Password"
			placeholder="Enter your passwordConfirm">
			<img src="/assets/svg/password-icon.svg" >
		</app-primary-input>
	</form>
</app-default-login-layout>
