<main>
	<section class="form-section">
		<img src=" /assets/svg/logo.svg"
			alt="Move It!">
		<h2>{{ title }}</h2>
		<ng-content></ng-content>
		<div class="btn-wrapper">
			<button 
        [disabled]="disablePrimaryBtn" 
        (click)="submit()"
				class="btn-primary">
				{{ primaryBtnText }}
			</button>
			<div class="divider">
				<div></div>
				<span>OR</span>
				<div></div>
			</div>
			<button (click)="navigate()"
				class="btn-secondary">
				{{ secondaryBtnText }}
			</button>
		</div>
	</section>
	<section class="main-section">
		<h2>You should MoveIt!</h2>
		<img src="/assets/svg/main-illustration.svg">
	</section>
</main>
