* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

img {
  -webkit-user-drag: none;
}
